/* Vertical */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar:hover {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #cfcdcc;
  border-radius: 100px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover > .scrollbar-custom::-webkit-scrollbar {
  height: 4px;
}

/* Horizon */
.scrollbar-custom--horizon::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-custom--horizon::-webkit-scrollbar:hover {
  height: 6px;
}

.scrollbar-custom--horizon::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

.scrollbar-custom--horizon::-webkit-scrollbar-thumb {
  background: #cfcdcc;
  border-radius: 100px;
}

.scrollbar-custom--horizon::-webkit-scrollbar-thumb:hover > .scrollbar-custom--horizon::-webkit-scrollbar {
  height: 6px;
}
